<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <Appenders>
        <File name="AnoML" fileName="./logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="spark" level="TRACE">
            <AppenderRef ref="AnoML"/>
        </Logger>
        <Root level="TRACE">
            <AppenderRef ref="AnoML"/>
        </Root>
    </Loggers>
</Configuration>
